<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>dad-football</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Iosevka+Charon&family=Playwrite+GB+J&display=swap"
      rel="stylesheet"
    />
    <!-- font-family: "Playwrite GB J", cursive;
    font-family: "Iosevka Charon", monospace; -->
    <link rel="stylesheet" href="../../src/css/style.css" />
  </head>
  <body>
    <div class="photo">
      <img src="../../src/img/on-football.jpeg" alt="football" width="800px" />
    </div>
    <p class="text">
      Для меня это одно из важных воспоменаний потому-что ты первый раз за время
      войны приехал к нам и мы пошли на матч Эмполи. Я до сих пор помню когда
      Стефано приехал к нам и сказал мне выйти из дома потому-что он хотел меня
      познакомить со "своим другом а там был ты".
    </p>
    <a class="return" href="../../index.html">Go home</a>
    <script type="module" src="../../src/js/index.js"></script>
  </body>
</html>
