<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>dad</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Iosevka+Charon&family=Playwrite+GB+J&display=swap"
      rel="stylesheet"
    />
    <!-- font-family: "Playwrite GB J", cursive;
    font-family: "Iosevka Charon", monospace; -->
    <link rel="stylesheet" href="../../src/css/style.css" />
  </head>
  <body>
    <div class="photo">
      <img src="../../src/img/with-head.jpeg" alt="football" width="450px" />
    </div>
    <p class="text">
      Тут это было больше как прикол но я помню мы в этот день выехали с Юлей
      поесть Фиорентинский стейк. Кстати эту фотку я на твой контакт поставил.
    </p>
    <a class="return" href="../../index.html">Go home</a>
    <script type="module" src="../../src/js/index.js"></script>
  </body>
</html>
